ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #d6cccc;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555555;
  color: #ffffff;
}

.navbar .nav-links {
/* vertical line to separate nav bar from content */
  
  border-right: #555555 solid 1px;
  background-color: #d6cccc;
  overflow: hidden;
}

.container {
  display: flex;
}

main {
   padding : 0 20px;
}