.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #d6cccc;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555555;
  color: #ffffff;
}

.navbar .nav-links {
/* vertical line to separate nav bar from content */
  
  border-right: #555555 solid 1px;
  background-color: #d5d1d1;
  overflow: hidden;
}

.container {
  display: flex;
}

main {
   padding : 0 20px;
}

main ul {
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 40px;
}

body {
  font-size: 1.2rem;
  font-family: 'Alegreya', 'Times New Roman', Times, serif, sans-serif;
  margin: 20px;
  background-color: #d5d1d1;
}
